/*
Hacemos que todo vaya hacia dentro y ponemos los margenes y pading a 0
*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
    display: block;
    *max-width: 1024px;
    margin: 0px auto;
    font-family: sans-serif;
    background-color: white;
	/* evitar los desbordamiento lateral entre navegación y página cortas*/
	overflow-y: scroll;
}
/*
Aquí empieza las clases generales
*/
.cabecera{
	display: flex;
  	flex-wrap: wrap;
	justify-content: space-between;
	background-color: black;
}

.logo img{
	width: 305px;
	height: 122px;
	margin-top: 20px;
	margin-left: 43px;
	margin-bottom: 20px;
}
.menu{
	margin-top: 60px;
}

h1{
	text-align: center;
	background-color: black;
	color: white;
	padding:20px;
}

nav ul{
	*background-color: #757575;
	width: 100%;
	list-style-type: none;
	text-align:center;
	
}
nav li{
	display:inline-flex;
}
nav li:hover{
	*background-color: black;
}
nav a{
	text-decoration:  none;
	color: white;
	padding: 10px;
	width: 150px;
}
/* fin cabecera */

/* para el cuerpo de la página */

.contenido{
    margin: 0 49px;
    margin: top 20px;
}

.secciones{
	align-items: center;
	padding:40px;
}

.secciones h2{
    color: #ffe707;
    font-weight: bold;
    text-align: center;
}

.descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.descripcion p{
    margin-top: 10px;
    text-align: left;
    font-size: 0.8em;
}

.menu-secundario{
	width:20% ;
	margin-top: 60px;
}
.menu-secundario a{
	display: block;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

/* Creación de botones*/
.botones {
    display: flex;
	justify-content: space-between;
    margin-bottom: 30px;
}

.botones button{
    border-radius: 100px;
    background-color: rgba(217, 217, 217, 1);
    width: 150px;
    height: 33px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}
/* fin cuerpo de la pagina */

/* para el pie de página  */
footer{
	display: inline-flex;
  	flex-wrap: nowrap;
	width: 100%;
	background-color: black;
	color:white;
}
footer h2{
	font-size: 1em;
    text-align: center;
}
footer p{
	text-emphasis: center;
	padding: 50px;
}
footer div{
	*background-color: rgb(196, 69, 69);
	width: 33%;
	margin: 30px;
	padding: 10px;
}
footer div ul{
	list-style-type: none;
}
footer div ul li{
	margin: 15px;
    text-align: center;
}
footer div input{
	padding: 2px;
	margin-top: 5px;
	font-size: 1.5em;
	width: 200px;
}
footer div button{
	background-color:#ffe707;
	color: white;
	padding: 2px;
	margin-top: 5px;
	font-size: 1.5em;
	width: 200px;
	border: none;
}
.last{
	text-align: center;
}

.last form{
	margin-top: 20px;
}

.color{
	display: flex;
  	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 1px solid #6C6464;
    font-size: x-small;
}
/* ajustes de la zona de copyright y grupo de creación por SANTI */
.color div{
    text-align: justify;
    margin: 10px;
    margin-left: 10%;
}
/* fin del pie de página*/

