/*
Hacemos que todo vaya hacia dentro y ponemos los margenes y pading a 0
*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
    display: block;
    *max-width: 1024px;
    margin: 0px auto;
    font-family: sans-serif;
    background-color: white;
	/* evitar los desbordamiento lateral entre navegación y página cortas*/
	overflow-y: scroll;
	background-color: rgba(198, 194, 194, 1);
}
a{
	color: white;
	text-decoration: none;
}
/*
Aquí empieza las clases generales
*/
.cabecera{
	display: flex;
  	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba(15, 14, 14, 1);
}
.cabeceraindex{
	height: 633px;
	width: 100%;
	background: url("../img/fondo_index.png") center no-repeat;
	background-size: cover;
	text-align: center;
}

.index{
	color: white;
	font-size: 2em;
	text-align: center;
	width: 100%;
}
.index button{
	padding: 5px;
	border-radius: 5px;
	height: 47px;
	width: 157px;
	border: none;
	background-color: #ffffffa1 ;
	font-size: 24px;
}

.logo img{
	width: 305px;
	height: 122px;
	margin-top: 20px;
	margin-left: 43px;
	margin-bottom: 20px;
}
.menu{
	margin-top: 60px;
}
h1{
	text-align: center;
	background-color: black;
	color: white;
	padding:20px;
}

nav ul{
	*background-color: #757575;
	width: 100%;
	list-style-type: none;
	text-align:center;
	
}
nav li{
	display:inline-flex;
}
nav li:hover{
	*background-color: black;
}
nav a{
	text-decoration:  none;
	color: white;
	padding: 10px;
	width: 150px;
}
/* fin cabecera */

/* para el cuerpo de la página */
main{
	margin: 0 139px;

	*background-color: aqua;
}
.secciones{
	*display:flex;
	align-items: center;
	padding:40px;
}
.menu-secundario{
	width:20% ;
	margin-top: 60px;
}
.menu-secundario a{
	display: block;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

.contenido{
    margin: 0 49px;
    margin: top 20px;
}



.secciones h2{
    color: #ffe707;
    font-size: 180%;
    font-weight: bold;
    text-align: center;
}

.descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.descripcion p{
    margin-top: 10px;
    text-align: left;
    font-size: 0.8em;
}
.descripcion_uno{
	font-weight: bold;
	font-size: 1em;
	padding: 20px;
}

/* Creación de botones*/
.botones {
    display: flex;
	justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 10px;
}

.botones button{
    border-radius: 100px;
    background-color: rgba(217, 217, 217, 1);
    width: 150px;
    height: 33px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
}
/* para reservar cita */
.secciones h2{
	text-align: center;
	font-size: 3em;
	margin-bottom: 20px;
	margin-top: 20px;
}
.descripcion{
	display: flex;
	  flex-wrap: wrap;
	justify-content: space-between;
}
.descripcion input, .descripcion select{
	*width: 250px;
	padding: 20px;
	margin-bottom: 25px;
	border-radius: 10px;
	border: none;
	background-color: rgba(50, 55, 56, 0.7);
	color: white;
	font-size: 2em;
}
.secciones .button{
	margin-top: 40px;
	text-align: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
	font-size: 1em;
}
.enviar{
	font-size: 1.2em;
	padding: 10px;
	color:black;
	font-weight: bolder;
	background-color: rgba(239, 181, 1, 0.58);
	border-radius: 15px;
}
.enviar:hover{
	background-color: rgba(239, 181, 1, 1);
	cursor: pointer;
}
/* restaurantes */
.bar {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }


.button-container {
	display: flex;
	justify-content: space-around;
	margin: 30px;
	width: 300px;
	*vertical-align: middle; 
}
.button-container button a{
	color: #000000;
}
button {
	width: 100px;
	height: 50px;
	font-weight: bold;
	font-size: 18px;
    background: rgba(228, 219, 219, 0.11);
    border: 1px solid #000000;
    border-radius: 15px;
}
.segundocontenedor {
	width: 60%;
	margin-top: 20px;
}
.segundocontenedor img, .segundocontenedor h2 {
	display: inline;
	vertical-align: middle; 
}
.segundocontenedor h2 a{
	color: #000000;
	font-size: 0.4em;
}
/* fin cuerpo de la pagina */
/* para el pie de página  */
footer{
	display: inline-flex;
  	flex-wrap: nowrap;
	width: 100%;
	background-color: rgba(15, 14, 14, 1);
	color:white;
}
footer h2{
	font-size: 1em;
}
footer p{
	text-emphasis: center;
	padding: 50px;
}
footer div{
	*background-color: rgb(196, 69, 69);
	width: 33%;
	margin: 30px;
	padding: 20px;
}
footer div ul{
	list-style-type: none;
}
footer div ul li{
	margin: 10px;
}
footer div input{
	padding: 2px;
	margin-top: 5px;
	font-size: 1.5em;
	width: 200px;
}
footer div button{
	background-color:#ffe707;
	color: white;
	padding: 2px;
	margin-top: 5px;
	font-size: 1.5em;
	width: 200px;
	border: none;
}
.last{
	text-align: center;
}

.color{
	color: rgba(108, 100, 100, 1);
	display: flex;
  	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 1px solid #6C6464;
}